/* static/css/apps_home.css */

/* PÁGINA INICIAL DOS APPS */
.body-apps-home {
    background-color: #023047;
    color: #fff;
    font-size: 1rem;
}

.container-home-apps {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.column-home-apps {
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;    
    min-height: 100px;
    box-sizing: border-box;
    background: #D4F0FC;
    min-width: 250px;
}

.btn-group-home-apps {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.btn-group-home-apps a {
    flex: 1 1 45%;
    text-align: left;
    min-width: 120px;
}

.home-apps-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    background-color: #89D6FB;
    padding: 1rem;
}
