<!-- templates/includes/modals.html -->

<!-- Modal de Confirmação -->
<div class="modal-delete" style="display:none;">
    <div class="modal-content">
        <span class="btn-close-modal">&times;</span>
        <h2>Confirmar Exclusão</h2>
        <p>{{ message_confirmation_delete|default:"Tem certeza que deseja excluir este item?"|safe }}</p>
        <div class="btn-group-modal">
            <button type="button" class="btn-confirm btn-purple">Confirmar</button>
            <button type="button" class="btn-cancel btn-purple">Cancelar</button>
        </div>
    </div>
</div>

<!-- Modal de feedback de sucesso/erro -->
<div class="modal-feedback" style="display:none;">
    <div class="modal-content">
        <div class="modal-feedback-message"></div>
        <div class="countdown-message" style="margin-top: 10px;"></div>
    </div>
</div>