<!-- templates/js_includes.html -->

{% load static %}
<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
        crossorigin="anonymous">
</script>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"
        integrity="sha384-KIix3a0qkeD2RPwPvpkJ+Knc91vkmDI+i2c7phIO+EfV3dpfDXIGSqQjpIaJXlR9"
        crossorigin="anonymous">
</script>

<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous">
</script>

<!-- Bootstrap Date Range Picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
        integrity="sha384-+CZE2IEFysHETxnCVQvxejzlWYCYADkhBXaH/Ulx3y5arlcl0PKDPciVkn0CmlDu"
        crossorigin="anonymous">
</script>

<!-- Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha384-JnbsSLBmv2/R0fUmF2XYIcAEMPHEAO51Gitn9IjL4l89uFTIgtLF1+jqIqqd9FSk"
        crossorigin="anonymous">
</script>

<script src="{% static 'js/select2.js' %}"></script>


<script src="{% static 'js/ajax_table.js' %}"></script>
<script src="{% static 'js/checkbox-toggle.js' %}"></script>
<script src="{% static 'js/form_validation.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/theme-switcher.js' %}"></script>
<script src="{% static 'js/vertical_tab.js' %}"></script>
