<!-- templates/clients/client_detail.html -->

{% extends "base.html" %}

{% block title %}Detalhes do Cliente{% endblock %}

{% block body_class %}body-apps-detail{% endblock %}

{% block header_title %}
    Detalhes do Cliente<br>
    <span class="apps-detail-subtitle">{{ client.uid }} | {{ client.name }}</span>
{% endblock %}

{% block content %}

<!-- Template de Detalhes -->
{% include 'includes/apps_detail.html' %}

<!-- Modal de confirmação de exclusão -->
{% include 'includes/modals.html' with confirmation_message=confirmation_message %}

{% endblock %}
