<!-- templates/clients/client_list.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Clientes{% endblock %}

{% block body_class %}body-apps-list{% endblock %}

{% block header_title %}Gerenciamento de Clientes{% endblock %}

{% block content %}

<div class="container-apps-list">

    <aside class="apps-list-sidebar">
        
        <div class="apps-list-actions-card">
            <a class="btn-new" href="{% url 'clients:new' %}">
                <i class="fas fa-plus-circle"></i> Novo Cliente
            </a>
            <a class="btn-return" href="{% url 'clients:home' %}">
                <i class="fas fa-th-large"></i> Dashboard
            </a>
        </div>

        <form method="GET" action="{% url 'clients:list' %}" class="apps-list-search-form">
            <div class="apps-list-search-header">
                <h3><i class="fas fa-filter"></i> Filtrar Dados</h3>
            </div>

            {% include 'includes/search_fields.html' %}
            
            <div class="apps-list-btn-group-search">
                <button type="submit" class="btn-list">
                    <i class="fas fa-search"></i> Buscar
                </button>
                <a class="btn-clear" href="{% url 'clients:list' %}">
                    <i class="fas fa-times"></i> Limpar
                </a>
            </div>
        </form>
    </aside>


    <main class="apps-list-content">
        
        <div class="apps-list-content-header">
            <div class="records-selector">
                 {% include "includes/records_per_page_selector.html" with action_url=request.path %}
            </div>
            
            <div class="counter-display">
                {% include 'includes/record_counter.html' with page_obj=page_obj %}
            </div>
        </div>

        <div class="apps-list-table-area custom-scrollbar">
            <div class="ajax-table tb-list" id="ajax-table">
                {% include 'includes/table.html' %}
            </div>
        </div>

        <div class="apps-list-content-footer">
            {% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
        </div>

    </main>

</div>

{% endblock %}